* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow: hidden;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(169,169,169,1) 81%);
}

.scene,
canvas {
    position: absolute;
    height: 100%;
    width: 100%;
}