/* Coolors Exported Palette - coolors.co/79addc-ffc09f-ffee93-fcf5c7-adf7b6 */

/* HSL */
$color1: hsla(208%, 59%, 67%, 1);
$color2: hsla(21%, 100%, 81%, 1);
$color3: hsla(51%, 100%, 79%, 1);
$color4: hsla(52%, 90%, 88%, 1);
$color5: hsla(127%, 82%, 82%, 1);

/* RGB */
$color1: rgba(121, 173, 220, 1);
$color2: rgba(255, 192, 159, 1);
$color3: rgba(255, 238, 147, 1);
$color4: rgba(252, 245, 199, 1);
$color5: rgba(173, 247, 182, 1);